@model ImageServerWeb.Models.ConfigModel
@{
    ViewBag.Title = "Config";
}

<link href="~/Content/bootstrap-journal.css" rel="stylesheet" type="text/css" />


<table class="table table-hover>
	<tbody>
		<tr class="table-light">
			<td>Output directory:</td>
			<td>@Model.OutputDirectory</td>
		</tr>
		<tr class="table-warning">
			<td>Log name:</td>
			<td>@Model.LogName</td>
		</tr>
		<tr class="table-light">
			<td>Source directory:</td>
			<td>@Model.SourceName</td>
		</tr>
		<tr class="table-warning">
			<td>Thumbnail size:</td>
			<td>@Model.ThumbnailSize</td>
		</tr>
	</tbody>
</table> 

@if(@Model.Handlers.Count != 0)
	{
	for (int i=0; i<@Model.Handlers.Count ;i++){
	<button type="button" class="btn btn-outline-warning"> @Html.ActionLink(@Model.Handlers[i], "RemoveHandler",new { id = i }) </button>
		<br />
}
}
