@model ImageServerWeb.Models.ImagesModel
@{
    ViewBag.Title = "Images";
}
<style type="text/css"></style>

<link href="~/Content/bootstrap-journal.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<style>
    .img {  border-radius: 50%;}
</style>


@for(int i=0;i<@Model.Images.Count;i++){
<div class="card mb-3" style="max-width: 20rem; float: left; max-height: 100rem;">
    <h3 class="card-header">@Model.Images[i].Name</h3>
    <div class="card-body" data-design="@Model.SingleBase64(Model.Images[i].ThumbPath)">
        <img id="preview" src="data:image/gif;base64,@Model.SingleBase64(@Model.Images[i].ThumbPath)" class="img" alt=@Model.Images[i].Name>
    </div>
    <div class="card-body">
        <p class="card-text">@Model.Images[i].Date</p>
    </div>
    <div class="card-body">
        <button type="button"  onclick="location.href = '@Url.Action("ViewImage", "Home",new { id = i })';"class="btn btn-info" id="View" style="margin:10px">View </button>
        <button type="button" onclick="location.href='@Url.Action("RemoveImage", "Home",new { id = i })';" class="btn btn-primary" id="Remove" style="margin:10px">Delete</button>
    </div>
</div>
}

<br/>
<br style="float: bottom"/>
