@model ImageServerWeb.Models.HomePageModel
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/bootstrap-journal.css" rel="stylesheet" type="text/css" />

<div class="card border-secondary mb-3" style="max-width: 20rem;margin-left: 45px;margin-top:auto ;float: left" >
	<div class="card-header">Etc:</div>
	<div class="card-body">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>First Name </th>
					<th>Family Name </th>
					<th>ID </th>

				</tr>
			</thead>
			<tbody id="myTable">
				@if (Model.Students.Count != 0)
				{
				for (int i = 0; i < Model.Students.Count; i++)
				{
				{
				<tr class="table-light">
					<td>@Model.Students[i][0]</td>
					<td>@Model.Students[i][1]</td>
					<td>@Model.Students[i][2]</td>

				</tr>
				}

				}
				}
			</tbody>

		</table>
	</div>
</div>

<div class="card border-secondary mb-3" style="max-width: 20rem; margin-left: 45px;">
	<div class="card-header">Number Of Photos:</div>
	<div class="card-body">
		<p class="card-text">@Model.NumOfImages</p>
	</div>
</div>

<div class="card border-secondary mb-3" style="max-width: 20rem; margin-left: 45px;">
    <div class="card-header">Image Service Status:</div>
    <div class="card-body">
        <p class="card-text">@Model.Status</p>
    </div>
</div>