@model ImageServerWeb.Models.LogModel
@{
    ViewBag.Title = "Logs";
}


<link href="~/Content/bootstrap-journal.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 
<h2>Logs</h2>
<input id="myInput" type="text" placeholder="choose type..">

<br><br>

<table class="table table-hover">
    <thead>
        <tr>
            <th> Type </th>
            <th> Log </th>
        </tr>
    </thead>
    <tbody id="myTable">
    @if (Model.Messages.Count != 0)
    {
        for (int i = 0; i < Model.Messages.Count; i++)
        {
            if (@Model.Messages[i].Status == 0)
            {
                <tr class="table-info">
                    <td class="depCode">@Model.Messages[i].Status.ToString()</td>
                    <td>@Model.Messages[i].Message</td>
                </tr>
            }
            else
            {
                <tr class="table-warning">
                    <td class="depCode">@Model.Messages[i].Status.ToString()</td>
                    <td>@Model.Messages[i].Message</td>
                </tr>
            }

            }
    }
    </tbody>
   
</table>



<script>
    $(document).ready(function() {
        $("input").keyup(function () {
            var data = this.value;
            var rows = $("tbody").find("tr");
            if (data == '') {
                rows.show();
            } else {
                rows.hide();
                rows.filter(function() {
                    var columnValue = $(this).find('.depCode').text().toLowerCase();
                    var other = data.toLowerCase();
                    return columnValue.indexOf(other) == 0;
                }).show();
            }
        });
    });
</script>